@media only screen and (min-width: 1750px) {
  .brand {
    font-size: 1.8rem;
  }

  .brand img {
    width: 50px;
  }

  .list-container li {
    font-size: 1.6rem;
    margin-right: 3rem;
  }

  .container {
    width: 85vw;
  }

  .leftBox h2 {
    font-size: 1.8rem;
  }

  .songList {
    padding: 2px;
    height: 55px;
    width: 45vw;
    padding-right: 30px;
    margin-bottom: 18px;
  }

  .songList img {
    height: 53px;
    width: 55px;
  }

  .songList span {
    font-size: 1.3rem;
  }

  .songList .songName {
    font-size: 1.4rem;
  }

  .songList .time {
    margin-right: 5px;
  }

  .songPlayingBox {
    height: 130px;
    padding: 1.4rem 0;
  }

  .songInfo img {
    width: 80px;
  }

  .timeInfo {
    top: 2.8rem;
  }

  .songInfo #musicName,
  .timeInfo span {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1315px) and (max-width: 1750px) {
  .brand {
    font-size: 1.5rem;
  }

  .brand img {
    width: 45px;
  }

  .list-container li {
    font-size: 1.3rem;
    margin-right: 3rem;
  }

  .leftBox h2 {
    font-size: 1.5rem;
  }

  .songList {
    padding: 2px;
    height: 45px;
    width: 42vw;
    padding-right: 30px;
    margin-bottom: 12px;
  }

  .songList img {
    height: 43px;
    width: 45px;
  }

  .songList span {
    font-size: 1.1rem;
  }

  .songList .songName {
    font-size: 1.2rem;
  }

  .songList .time {
    margin-right: 5px;
  }

  .songPlayingBox {
    height: 110px;
    padding: 1.2rem 0;
  }

  .songInfo img {
    width: 70px;
  }

  .timeInfo {
    top: 2.8rem;
  }

  .songInfo #musicName,
  .timeInfo span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .container {
    padding: 18px;
  }

  .leftBox h2 {
    font-size: 1.2rem;
    margin-bottom: 22px;
  }

  .songList {
    height: 35px;
    padding: 2px;
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .songList img {
    height: 33px;
    width: 35px;
  }

  .songPlayingBox {
    min-height: 130px;
    max-height: 23vh;
    padding: 1.8rem;
  }

  .songPlayingBox i {
    font-size: 40px;
  }

  .songPlayingBox .timeInfo,
  .songPlayingBox .songInfo {
    top: 3rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .container {
    min-height: 400px;
    max-height: 500px;
    padding: 14px;
    padding-bottom: 10px;
    margin-top: 35px;
  }

  .leftBox h2 {
    font-size: 1rem;
    margin-bottom: 14px;
  }

  .songList {
    height: 26px;
    width: 44vw;
    padding: 1px;
    padding-right: 16px;
    margin-bottom: 8px;
  }

  .songList img {
    height: 24px;
    width: 26px;
  }

  .songPlayingBox {
    min-height: 90px;
    max-height: 23vh;
    padding: 1rem;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  .songPlayingBox i {
    font-size: 36px;
  }

  .songPlayingBox .timeInfo,
  .songPlayingBox .songInfo {
    top: 2.1rem;
  }

  .songList span {
    font-size: 0.8rem;
  }

  .songList .songName {
    font-size: 0.9rem;
  }

  .songPlayingBox i {
    font-size: 32px;
  }
}

@media screen and (min-width: 450px) and (max-width: 650px) {
  
    nav{
        padding: 0.5rem 0.8rem;
    }

    .list-container{
        width: 65%;
    }

  nav .brand {
    font-size: 1rem;
  }

  nav .brand img {
    width: 26px;
  }

  .list-container li {
    font-size: 0.9rem;
  }

  .container {
    padding: 10px;
    padding-bottom: 8px;
    min-height: 250px;
    max-height: 350px;
    margin: 14px auto;
    margin-top: 18px;
    width: 84vw;
  }

  .leftBox h2 {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .songList {
    height: 20px;
    width: 48vw;
    padding: 1px;
    padding-right: 12px;
    margin-bottom: 6px;
  }

  .songList img {
    height: 18px;
    width: 20px;
  }

  .songPlayingBox {
    min-height: 80px;
    max-height: 90px;
    padding: 0.8rem;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  .songPlayingBox i {
    font-size: 26px;
  }

  .songPlayingBox #myProgressBar{
    width: 85vw;

  }

  .songList span {
    font-size: 0.7rem;
  }

  .songPlayingBox .timeInfo,
  .songPlayingBox .songInfo {
    top: 2rem;
  }

  .icons {
    width: 78px;
  }

  .timeInfo{
    position: absolute;
    right: 7.5vw;
}

.songInfo{
    position: absolute;
    left: 7.5vw;
} 

.timeInfo span , .songInfo span{
    font-size: 0.9rem;
}

}

@media  screen and (max-width : 450px) {
    nav{
        padding: 0.4rem 0.3rem;
    }

    .list-container{
        width: 46%;
    }

  nav .brand {
    font-size: 0.9rem;
  }

  nav .brand img {
    width: 24px;
  }

  .list-container li {
    font-size: 0.8rem;
  }

  .container {
    padding: 6px;
    padding-bottom: 4px;
    min-height: 170px;
    max-height: 240px;
    margin: 12px auto;
    width: 90vw;
  }

  .leftBox h2 {
    font-size: 0.6rem;
    margin-bottom: 7px;
  }

  .songList {
    height: 13px;
    width: 45vw;
    padding: 1px;
    padding-right: 8px;
    margin-bottom: 3px;
  }

  .songList img {
    height: 13px;
    width: 13px;
  }

  .songPlayingBox {
    min-height: 70px;
    max-height: 80px;
    padding: 0.3rem;
    position: absolute;
    width: 100vw;
    bottom: 0;
    justify-content: center;
  }

  .songPlayingBox i {
    font-size: 16px;
  }

  .songPlayingBox #myProgressBar{
    width: 85vw;

  }

  .songList span {
    font-size: 0.5rem;
  }

  .songPlayingBox .timeInfo,
  .songPlayingBox .songInfo {
    top: 1.8rem;
  }

  .icons {
    width: 48px;
    margin-top: 5px;
  }

  .timeInfo{
    position: absolute;
    right: 7.55vw;
}

.songInfo{
    position: absolute;
    left: 7.55vw;
}

    .songInfo img{
        height: 10px;
    }
   
   .songInfo #musicName{
      position: relative;
      right: 2.88rem;
      top: 0.8rem;
   }  
 
   
.timeInfo span , .songInfo span{
    font-size: 0.7rem;
}
}

