@media screen and (min-width: 825px) and (max-width: 1050px) {
  .shop {
    grid-template-columns: repeat(3, 223px);
  }
}

@media screen and (min-width: 550px) and (max-width: 825px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}

@media screen and (max-width: 550px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
    margin-bottom: 30px;
  }

  nav {
    padding: 1rem 1.2rem;
    padding-left: 0.8rem;
  }

  nav h2 {
    font-size: 18px;
  }

  .cart {
    font-size: 18px;
  }

  .cartAmount {
    padding: 2px;
    font-size: 10px;
    right: -8px;
    top: -10px;
  }
}
